# Format
# DATABASE_URL = mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@${MYSQL_HOST}:${MYSQL_PORT}/${MYSQL_DATABASE}

# Local Docker connection
#DATABASE_URL = mysql://exampleuser:examplepassword@localhost:3308/exampledb

# Amazon
# Add your AWS configuration here
DATABASE_URL = mysql://user:password@domain:port/db